*{
  margin: 0;
}
.app{
  background-color: #fafafa;
}
.app__header{
  background-color: white;
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__headerImage{
  object-fit: contain;
  width: 40%;
  max-width: 200px;


}